:root {
  --algolia-autocomplete-input-color: var(--nebula);
  --algolia-autocomplete-highlight-color: var(--nebula);
  --algolia-autocomplete-background-light-color: #f5f5fa;
  --algolia-autocomplete-background-highlight-color: var(--moon);
  --algolia-autocomplete-border-color: rgba(197, 201, 224, 0.4);
  --algolia-docsearch-input-color: #5d6494;
  --algolia-docsearch-highlight-color: #5468ff;
  --algolia-docsearch-lvl0-color: #5d6494;
  --algolia-docsearch-lvl1-color: #232533;
  --algolia-docsearch-lvl2-color: rgba(93, 100, 148, 0.7);
  --algolia-docsearch-content-color: rgba(0, 0, 0, 0.5);
  --algolia-docsearch-background-start-color: #f5f5fa;
  --algolia-docsearch-background-end-color: #fff;
  --algolia-docsearch-background-highlight-color: rgba(218, 219, 234, 0.4);
  --algolia-docsearch-border-color: rgba(197, 201, 224, 0.4);
  --algolia-docsearch-logo-color-outer: #5468ff;
  --algolia-docsearch-logo-color-inner: #fff;
}

.algolia-autocomplete,
.algolia-autocomplete *,
.algolia-autocomplete-dropdown,
.algolia-autocomplete-dropdown * {
  box-sizing: border-box;
}

.algolia-autocomplete-dropdown a {
  text-decoration: none;
}

.algolia-autocomplete-form {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--algolia-autocomplete-border-color);
  border-radius: 6px;
  -webkit-box-align: center;
  box-shadow: 0 2px 3px 0 var(--algolia-autocomplete-border-color);
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0 8px;
  position: relative;
}

.algolia-autocomplete-searchbox {
  display: flex;
  flex: 1;
}

.algolia-autocomplete-input,
.algolia-autocomplete-completion {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: inherit;
  border: none;
  font: inherit;
  height: 100%;
  outline: none;
  padding: 0.7rem;
  width: 100%;
}

.algolia-autocomplete-input::-webkit-search-cancel-button,
.algolia-autocomplete-input::-webkit-search-decoration,
.algolia-autocomplete-input::-webkit-search-results-button,
.algolia-autocomplete-input::-webkit-search-results-decoration {
  display: none;
}

.algolia-autocomplete-completion {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
}

.algolia-autocomplete-loadingIndicator,
.algolia-autocomplete-magnifierLabel,
.algolia-autocomplete-reset {
  color: var(--algolia-autocomplete-input-color);
  height: 2rem;
  width: 2rem;
}

.algolia-autocomplete--stalled .algolia-autocomplete-loadingIndicator,
.algolia-autocomplete-magnifierLabel,
.algolia-autocomplete-reset {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

.algolia-autocomplete--stalled .algolia-autocomplete-magnifierLabel,
.algolia-autocomplete-loadingIndicator {
  display: none;
}

.algolia-autocomplete-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  right: 0;
}

.algolia-autocomplete-reset[hidden] {
  display: none;
}

.algolia-autocomplete-reset:focus {
  background: var(--algolia-autocomplete-background-light-color);
  color: #5468ff;
  color: var(--algolia-autocomplete-highlight-color);
  outline: none;
}

.algolia-autocomplete-loadingIndicator svg,
.algolia-autocomplete-magnifierLabel svg {
  height: 18px;
  width: 18px;
}

.algolia-autocomplete-reset svg {
  height: 10px;
  width: 10px;
}

.algolia-autocomplete-dropdown {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(93, 100, 148, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  margin-top: 0.5rem;
  max-width: 500px;
  overflow: scroll;
  -ms-overflow-style: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.algolia-autocomplete-dropdown::-webkit-scrollbar {
  display: none;
}

.algolia-autocomplete-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.algolia-autocomplete-dropdown-container {
  position: relative;
  padding: .4rem 1.4rem 0;
}

.algolia-autocomplete-suggestions-item {
  cursor: default;
}

.algolia-autocomplete-suggestions-item a {
  color: inherit;
  display: block;
}

.algolia-autocomplete-suggestions-item[aria-selected="true"] {
  background-color: rgba(218, 219, 234, 0.4);
  background-color: var(--algolia-autocomplete-background-highlight-color);
  border-radius: 0.1875rem;
}

.algolia-autocomplete-suggestions mark {
  background: none;
  color: #5468ff;
  color: var(--algolia-autocomplete-highlight-color);
  font-weight: 700;
}

/* ------------ DOCSEARCH V3 test ----------------------- */

.DSV3-cat-separator {
  width: 100%;
  font-size: .75em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.8em;
  background: var(--white);
  color: var(--algolia-docsearch-lvl2-color);
}

.DSV3-cat-separator::after {
  display: block;
  width: 100%;
  height: .8em;
  margin-top: .4em;
  content: "";
  border-top: solid 2px var(--asteroid);
  border-left: solid 2px var(--asteroid);
}

.DSV3-muted {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70px;
  white-space: nowrap;
  color: var(--algolia-docsearch-lvl2-color);
}

.DSV3-icon {
  display: inline-block;
  border-radius: 6px;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.DSV3-icon svg {
  fill: var(--proton);
  vertical-align: middle;
}

.DSV3-title {
  font-size: 0.95em;
  line-height: 1.8rem;
  display: inline-block;
}

.DSV3-text {
  position: relative;
  padding-left: 26px;
  top: -4px;
  font-size: 0.8em;
  color: var(--algolia-docsearch-lvl2-color);
}

/* LEVELS */

/* all levels start with a border */
.DSV3-lvl1,
.DSV3-lvl2,
.DSV3-lvl3,
.DSV3-content {
  border-left: solid 2px var(--asteroid);
}

/* levels greater than 0 are indented */
.DSV3-lvl2,
.DSV3-lvl3,
.DSV3-content {
  padding-left: 1.2em;
}

/* remove border of last level 0 */
.DSV3-lastLvl0 {
  border-left: none;
}

.DSV3-lastLvl0 .DSV3-title::before {
  display: inline-block;
  width: 6em;
  height: 1em;
  margin-right: 0.1em;
  vertical-align: top;
  content: "";

}

.DSV3-lastLvl0.DSV3-lastLvl .DSV3-title {
  border-left: none;
}

.DSV3-lvl1 .DSV3-title:before {
  display: inline-block;
  width: .6em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
  content: "";
  border-bottom: solid 2px var(--asteroid);
}

.DSV3-lvl1.DSV3-lastLvl0 .DSV3-title {
  border-left: none;
}

.DSV3-lvl1.DSV3-lastLvl0 .DSV3-title::before {
  border-left: solid 2px var(--asteroid);
}

.DSV3-lvl2 .DSV3-title,
.DSV3-lvl3 .DSV3-title,
.DSV3-content .DSV3-title {
  border-left: solid 2px var(--asteroid);
}

.DSV3-lvl2 .DSV3-title:before,
.DSV3-lvl3 .DSV3-title:before,
.DSV3-content .DSV3-title:before {
  width: .6em;
  height: 1em;
  margin-right: 0.1em;
  vertical-align: top;
  border-bottom: solid 2px var(--asteroid);
  content: "";
  display: inline-block;
}

.DSV3-lastLvl .DSV3-title{
  border: none;
}

.DSV3-lastLvl .DSV3-title::before {
  display: inline-block;
  width: .6em;
  height: 1em;
  margin-right: 0.1em;
  vertical-align: top;
  content: "";
  border-bottom: solid 2px var(--asteroid);
  border-left: solid 2px var(--asteroid);
}

/* ---------docsearch v3 beta ---------- */

.algolia-docsearch-commands,
.algolia-docsearch-commands li {
  display: flex;
  color: var(--proton);
}
.algolia-docsearch-commands li {
  align-items: center;
  margin-right: 1rem;
}
.algolia-docsearch-commands-border {
  color: #d5d6e5;
}
.algolia-docsearch-commands svg {
  height: 1rem;
  width: 1rem;
}
.algolia-docsearch-commands svg + svg {
  margin-left: 0.125rem;
}
.algolia-docsearch-commands-description {
  font-size: 0.75rem;
  letter-spacing: 0;
  margin-left: 0.25rem;
}

.algolia-docsearch-logo-brand-outer {
  fill: #5468ff;
  fill: var(--algolia-docsearch-logo-color-outer);
}
.algolia-docsearch-logo-brand-inner {
  fill: #fff;
  fill: var(--algolia-docsearch-logo-color-inner);
}

.algolia-docsearch-logo svg {
  position: relative;
  top: 2px;
  color: #5d6494;
  color: var(--algolia-docsearch-lvl0-color);
  height: 1.1875rem;
}

.algolia-autocomplete-suggestions-footer > div {
  margin-top: 1.4em;
  border-top: solid 1px var(--asteroid);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 4em;
  width: 100%;
  justify-content: space-between;
}
