/* Variables */
:root {

  /* --white: #fff;
  --black: #000;
  --nebula-blue: #5468ff;
  --moon-grey: #f5f5fa;
  --proton-grey: #c5c9e0;
  --nova-grey: #848ab8;
  --telluric-blue: #5d6494;
  --solstice-blue: #3a416f;
  --cosmos-black: #21243d; */

  /* --ifm-color-primary: var(--nebula-blue);
  --ifm-font-size-base: 17px;
  --ifm-code-font-size: 85%;
  --ifm-background-color: var(--white);
  --ifm-footer-background-color: var(--white); */

  --algolia-autocomplete-input-color: var(--nebula-blue);
  --algolia-autocomplete-highlight-color: var(--nebula-blue);
  --algolia-autocomplete-background-light-color: #f5f5fa;
  --algolia-autocomplete-background-highlight-color: var(--moon-grey);
  --algolia-autocomplete-border-color: rgba(197, 201, 224, 0.4);

  --algolia-docsearch-lvl0-color: var(--nebula-blue);

  --algolia-docsearch-logo-color-outer: #5468ff;
  --algolia-docsearch-logo-color-inner: #fff;

  --algolia-docsearch-text-color: var(--ifm-color-emphasis-600);
  /* alpha: can't use rgba(var) ??? */
  --algolia-docsearch-tree-color: rgba(197, 201, 224, 0.8);
  --algolia-autocomplete-shadow-color: rgba(197, 201, 224, 0.8);
  --algolia-autocomplete-shadow-color-alpha: rgba(197, 201, 224, 0.4);
  --algolia-autocomplete-searchbox-background-color: var(--ifm-background-color);
}


/* Reset */

/* Searchbox */

/* Dropdown */

/* Suggestion */

/* Footer */

/* Dark Mode */

html[data-theme='dark'] {

    /* --ifm-link-color: #8b9dff;
    --ifm-menu-color-active: #8b9dff;
    --ifm-font-base-color: #dee0f2;
    --ifm-background-color: #0a141c;
    --ifm-navbar-background-color: #21243d;
    --ifm-footer-background-color: #0a141c; */

  --algolia-autocomplete-input-color: var(--ifm-link-color);
  --algolia-autocomplete-background-highlight-color: var(--ifm-navbar-background-color);

  --algolia-docsearch-tree-color: var(--solstice-blue);
  --algolia-autocomplete-border-color: var(--solstice-blue);
  --algolia-autocomplete-shadow-color: rgba(0, 0, 0, 0.8);
  --algolia-autocomplete-shadow-color-alpha: rgba(0, 0, 0, 0.4);

}


.algolia {
  &-autocomplete {
    &, * {
      box-sizing: border-box;
    }
    &-form {
      display: flex;
      position: relative;
      margin: 0;
      padding: 0 8px;
      border: 1px solid var(--algolia-autocomplete-border-color);
      border-radius: 6px;
      align-items: center;
      box-shadow: 0 2px 3px 0 var(--algolia-autocomplete-shadow-color);
      background: var(--algolia-autocomplete-searchbox-background-color);
    }
    &-searchbox {
      display: flex;
      flex: 1;
    }
    &-input {
      appearance: none;
      width: 100%;
      height: 100%;
      padding: 0.7rem;
      border: none;
      outline: none;
      font: inherit;
      background: inherit;
    }
    &-completion {
      appearance: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0.7rem;
      border: none;
      outline: none;
      opacity: 0.4;
      font: inherit;
      pointer-events: none;
      background: inherit;
    }
    &-suggestions {
      &-item {
        cursor: default;
        a {
          color: inherit;
          display: block;
        }
        &[aria-selected='true'] {
          background-color: var(
            --algolia-autocomplete-background-highlight-color
          );
        }
      }
      &-footer > div {
        margin-top: 1.4em;
        border-top: solid 1px var(--algolia-autocomplete-border-color);
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 4em;
        width: 100%;
        justify-content: space-between;
      }
      mark {
        background: none;
        color: var(--algolia-autocomplete-highlight-color);
      }
    }
    &-reset {
      appearance: none;
      background: none;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      right: 0;
      position: absolute;
      svg {
        height: 10px;
        width: 10px;
      }
      &[hidden] {
        display: none;
      }
      &:focus {
        background: var(--algolia-autocomplete-background-light-color);
        color: var(--algolia-autocomplete-highlight-color);
        outline: none;
      }
    }
    &-dropdown {
      box-sizing: border-box;
      background-color: var(--ifm-background-color);
      box-shadow: 0 2px 4px 0 var(--algolia-autocomplete-shadow-color), 0 5px 15px 0 var(--algolia-autocomplete-shadow-color-alpha);
      margin-top: 0.55rem;
      overflow: scroll;
      position: absolute;
      width: 100%;
      z-index: 1;
      &-container {
        position: relative;
        padding: 0.4rem 1.4rem 0;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      * {
        box-sizing: border-box;
      }
      a {
        text-decoration: none;
      }
      @media (min-width: 540px) {
        max-width: 500px;
        border-radius: 6px;
      }
    }
  }
}

.algolia-autocomplete {
  &-input {
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
  &-loadingIndicator {
    display: none;
  }
  &-magnifierLabel,
  &-reset {
    color: var(--algolia-autocomplete-input-color);
    height: 2rem;
    width: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &--stalled .algolia-autocomplete-magnifierLabel {
    align-items: center;
    justify-content: center;
    display: none;
  }
  &-loadingIndicator,
  &-magnifierLabel {
    svg {
      height: 18px;
      width: 18px;
    }
  }
}

/* ------------ DOCSEARCH V3 test ----------------------- */

.DSV3-cat-separator {
  width: 100%;
  font-size: 0.7em;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1.8em;
  background: var(--ifm-background-color);
  color: var(--algolia-docsearch-lvl0-color);
  &::after {
    display: block;
    width: 100%;
    height: 0.4em;
    content: '';
    border-left: solid 1px var(--algolia-docsearch-tree-color);
  }
}

.DSV3-title {
  font-size: 0.9em;
  line-height: 1.8rem;
  display: inline-block;
}

.DSV3-text {
  padding-left: 1em;
  font-size: 0.8em;
  color: var(--algolia-docsearch-text-color);
}


/* LEVELS */
.DSV3-lvl1 {
  border-left: solid 1px var(--algolia-docsearch-tree-color);
  .DSV3-title:before {
    display: inline-block;
    width: 0.6em;
    height: 0.9em;
    margin-right: 0.2em;
    vertical-align: top;
    content: '';
    border-bottom: solid 1px var(--algolia-docsearch-tree-color);
  }
  &.DSV3-lastLvl0 .DSV3-title {
    border-left: none;
    &::before {
      border-left: solid 1px var(--algolia-docsearch-tree-color);
    }
  }
}

.DSV3-lvl2,
.DSV3-lvl3,
.DSV3-content {
  border-left: solid 1px var(--algolia-docsearch-tree-color);
  padding-left: 1em;
  .DSV3-title {
    border-left: solid 1px var(--algolia-docsearch-tree-color);
    &::before {
      content: '';
      display: inline-block;
      width: 0.6em;
      height: 1em;
      margin-right: 0.2em;
      vertical-align: top;
      border-bottom: solid 1px var(--algolia-docsearch-tree-color);
    }
  }
}

.DSV3-lastLvl0 {
  border-left: none;
  &.DSV3-lastLvl .DSV3-title {
    border-left: none;
  }
}

.DSV3-lastLvl {
  .DSV3-title {
    border: none;
    &::before {
      border-bottom: solid 1px var(--algolia-docsearch-tree-color);
      border-left: solid 1px var(--algolia-docsearch-tree-color);
    }
  }
}


/* ---------docsearch v3 beta ---------- */

.algolia-docsearch-commands {
  display: flex;
  color: var(--algolia-docsearch-text-color);
  &-border {
    color: var(--algolia-docsearch-text-color);
  }
  &-description {
    font-size: 0.75rem;
    letter-spacing: 0;
    margin-left: 0.25rem;
  }
  li {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  svg {
    height: 1rem;
    width: 1rem;
  }
  svg + svg {
    margin-left: 0.125rem;
  }
}

.algolia-docsearch-logo {
  svg {
    position: relative;
    top: 4px;
    color: var(--algolia-docsearch-text-color);
    height: 1.2rem;
  }
  &-brand-outer {
    fill: var(--algolia-docsearch-logo-color-outer);
  }
  &-brand-inner {
    fill: var(--algolia-docsearch-logo-color-inner);
  }
}
